html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background-color: $bg-dark-purple;
  margin: 0;
}

.container {
  @include flex-content;

  text-align: center;
}

.content {
  @include flex-content;

  align-items: center;
}
