.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
  background: $bg-color-secondary;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 960px;
    max-width: 100%;
    color: $fg-color-secondary;
  }
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.01em;
  font-weight: bold;
  font-size: 1.3em;
}