@charset "UTF-8";

$bg-color: hsl(253, 31%, 26%);
$bg-color-secondary: rgb(50, 51, 52);

$fg-color: hsl(253, 31%, 56%);
$fg-color-secondary: rgb(100, 102, 104);

$media-size-phone: "(max-width: 684px)";

:root {
  --phoneWidth: (max-width: 684px);
}

$max-width-content: 860px;